 
body {
    background-color: rgb(27, 22, 95);
    color: white;
    
}

.navbar {

  position: sticky;
  top: 0px;
  z-index: 10;
}

.intro-section{
  color: white;
  margin-bottom: 3em;
  //background-color: #383838; 
  //background: linear-gradient(to top right, rgba(31, 30, 30), #ffffff);
  // background-image: url("images/logo.png");
  // background-size: cover;
}

h1{

  margin: 3em 0em 0.5em 0em;
}


.contact-info i {
  font-size: 5em; /* Adjust the font size to your liking */
}


.product-grids {


  max-width: 100%;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;

  // justify-content: center ;
  // align-content: center;
  // align-items: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.products {

  width: 18rem;
}


.customer-grids {


  max-width: 100%;


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  margin: 4rem 0;

}

.bootstrap-card {
  z-index: 1; /* Lower z-index value */
}



.other-brands {

  border: solid black 5px;
  padding: 0px;
  border-radius: 5px;
}
img{
  max-height: 100%;
}
.owl-carousel .owl-item {
  //max-height: 300px; /* adjust the value as needed */
  object-fit: fill;
}


.lg-customers{

  width: 30rem;
}

@media (max-width: 768px) {
  .customer-grids {
    grid-template-columns: 1fr;
  }

  .lg-customers{
    width: 25rem;
  }
}
@media screen and (max-width: 767px) {
 .lg-customers{
  width: 100%;
 } 
 .products{
  width: 100%;
 }
}

.USP {
  
  max-width: 94%;
}

a {

  color: white;
  text-decoration: none
}

.contact {

  display: block;
  color: white;
  text-decoration: none;
}

a:hover
{   
  text-decoration: none;
   color: white;
}

button:hover,  .navbar-toggler-icon:hover, .contact:hover {

  transform: scale(1.1) ;
  
}

// body{
//   overflow-x: hidden;
// }